.card {
    height: 150px;
    width: 100px;
    margin-top: -120px;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(25, 90, 25);
}

.board {
    width: 1300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 150px 850px 300px;
    grid-template-rows: 100px 600px;
}

.column-container {
    grid-column: 2;
    grid-row: 2;
    width: 850px;
    height: 600px;
}

.column-box {
    width: 770px;
    margin: 25px auto;
}

.empty-col {
    height: 148px;
    width: 98px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 25px 5px auto -105px;
    display: inline-block;
}

.empty-deck {
    height: 148px;
    width: 98px;
    margin: 50px 25px;
    border: 1px solid white;
    border-radius: 4px;
}

.column {
    z-index: 100;
    margin: 145px 5px auto 5px;
    display: inline-flex;
    flex-direction: column;
    width: 100px;
}

.hide {
    display: none;
}

.highlight {
    border: 2px solid yellow;
    height: 146px;
    width: 96px;
}

.score {
    color: white;
    background-color: rgb(50, 50, 50);
    width: 1300px;
    height: 100px;
    grid-column: 1 / 3;
    grid-row: 1;
}

.score-flex {
    display: inline-flex;
}

.timer {
    width: 200px;
    margin: auto 50px auto 250px;
}

.score-box {
    width: 200px;
    margin: auto 50px auto 50px;
}

.new-deck {
    width: 200px;
    margin: auto 250px auto 50px;
}

.new-deck:hover {
    cursor: pointer;
}

.deck {
    background-color: rgb(50, 50, 50);
    width: 150px;
    height: 600px;
    grid-column: 1;
    grid-row: 2;
}

.table {
    background-color: rgb(50, 50, 50);
    width: 300px;
    height: 600px;
    grid-column: 3;
    grid-row: 2;
}

.deck-cards {
    height: 150px;
    width: 100px;
    margin: 50px 25px;
}

.deck-container {
    margin: 140px 25px auto 25px;;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 150px;
    width: 100px;
    margin: 50px 25px;
}

.empty-cell {
    color: white;
    height: 148px;
    width: 98px;
    margin: 50px 25px 0 25px;
    border: 1px solid white;
    border-radius: 4px;
}