.card {
    height: 150px;
    width: 100px;
    margin-top: -120px;
}

.board {
    display: inline;
}

.column-container {
    width: 800px;
}

.column {
    margin: 120px 5px auto 5px;
    display: inline-flex;
    flex-direction: column;
    width: 100px;
}

.highlight {
    border: 2px solid yellow;
    height: 146px;
    width: 96px;
}
